name: Run Selenium Appointment Checker

on:
  workflow_dispatch:     # manual run
  schedule:
    - cron: "*/1 * * * *"   # run every 1 minutes

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Install ChromeDriver
      uses: nanasess/setup-chromedriver@v2
      
    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install selenium webdriver-manager requests

    - name: Run the script
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
      run: |
        python appointment.py